<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mr-auto">

        <!-- Links -->
        <%= image_tag 'Flavorzlogo.jpeg', style: 'width:20vw;'  %>
      </div>
      <div class="col-md-3">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">At buddha packaging  we provide you with an excellent shopping experience as our clients’ satisfaction matter a lot. We have the perfect combination packaging that are tailored to meet your needs through our standard shopping practice. </h5>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2018 Copyright:
    <a href="https://dosidesigns.com"> DosiDesigns.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->