

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mr-auto">

        <!-- Links -->
        <%= image_tag 'Flavorzlogo.jpeg', style: 'width:150px;'  %>
      </div>
      <div class="col-md-2">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">At Dosi Designs we provide you with an excellent shopping experience as our clients’ satisfaction matter a lot. </h5>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-2">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/products">Shop</a>
          </li>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Snapchat</a>
          </li>
        </ul>

      </div>
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Terms of Service</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2018 Copyright:
    <a href="https://dosidesigns.com"> DosiDesigns.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->