<% @body_id = 'home-page' %>
<%= image_tag 'flavorzslide.png', style: 'width:100vw;'  %>

<%= image_tag 'dosiFlavorz.png', style: 'width:100vw;'  %>


<div id="aboutUs">
<h2 id="abthero">Everything about buddha packaging revolves around our commitment to help you</h2>
<p id="abtbody">At buddha packaging  we provide you with an excellent shopping
 experience as our clients’ satisfaction matter a lot. We have the perfect 
 combination packaging that are tailored to meet your needs through our standard
  shopping practice.
   <br />
   <br />
   <br />
   <button class="btn btn-default btn-lg" href="/products">Shop Now</button>
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
</p>
<h1 id="prodhero">Products</h1>
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
<br />
<br />
<br />
<br />





